.my-header {
  background-color: rgb(58, 87, 100);
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 101;
}

.container2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* .my-header-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
} */

.my-header-container {
  padding-top: 5px;
  font-size: 20px;
}

.text-white {
  display: flex;
  align-items: center;
  height: 25px;
}

.btn:hover {
  color: rgb(141, 141, 141);
}

.card:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #ffffff, 10px 8px 8px 3px rgba(255, 255, 255, 0.49)!important;
  box-shadow: 0px 10px 13px -7px #ffffff, 10px 8px 8px 3px rgba(255, 255, 255, 0.49) !important;
}

.loghinformcontainer {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 10px 8px 8px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 13px -7px #000000, 10px 8px 8px 3px rgba(0, 0, 0, 0.2);
}